*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    

}
body {
    background-color: #fff;
    color: #000;
}
.dark-mode {
    background-color: #222;
    color: #fff;
}
#dark-mode-toggle {
    
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 13px;
    font-size: 13px;
    background: transparent;
    position: relative;
    right: 45%;
    cursor: pointer
}
#dark-mode-toggle:hover{
    border: 1px solid #28b15d;
    background: #28b15d;
    transition: 1s;
}

.sub-header h1{
    margin-bottom: 146px;
}

.form-container{
    display: inline-block;
    text-align: justify;
    margin: 0px auto;
    color: white;
    border-radius: 25px;
    font-size: 24px ;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 13px;
    font-size: 23px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #28b15d;
    background: #28b15d;
    transition: 1s;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #28b15d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 56px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.footer{
    background-color: rgb(32, 32, 32);
    width: 100%;
    text-align: center;
    padding: 30px 0;


}
.footer h4{
    color: #fff;
    margin-bottom: 25px;
    margin-top:20px;
    font-weight:600;
}
.footer p{
    color: #fff;
 
 }
 .footer span{
     
         color: rgb(255, 11, 11);
    
 }
 
.glowing-text {
    text-shadow: 0 0 5px rgba(243, 29, 29, 0.5);
  }
.icons .fa{
    color: #28b15d;
    margin: 0;
    cursor: pointer;
    padding: 18px 0;

}
.fa-heart-o{
    color: tomato;
}
input {
    float: right;
    border: 1px solid #fff;
    background: transparent;
    padding: 10px 13px;
    position: relative;
    left: 20px;
    color: white;
   
  }
  select {
    float: right;
    border: 1px solid #fff;
    background: transparent;
    padding: 10px 13px;
    position: relative;
    left: 20px;
    color: rgb(128, 128, 128);
  }