<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>


    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/javascript-plugins-bundle.css') }}" rel="stylesheet">
</head>
<body>
    <section class="background-container">
            <nav>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='image/logo.png') }}"></a>
            </nav>
    <div class="top">
        <div class="text-box">
            <h2 >Register</h2>

            <div class="form-box register">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <table class="form-table">
                        <tr>
                            <td>
                                <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <div class="lable">
                                    {{ form.username.label }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ form.username(class="form-control") }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <div class="lable">
                                    {{ form.email.label }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ form.email(class="form-control") }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <div class="label">

                                    {{ form.password.label }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ form.password(class="form-control") }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <div class="label">

                                    {{ form.confirm_password.label }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ form.confirm_password(class="form-control") }}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button class="hero-btn" style="font-size: 1em; width: 100%; color:blue;" type="submit">Register</button>
                    <div style="font-size: .5em;" class="login-register">
                        <p>Already have an account! <a href="{{ url_for('login') }}" class="register-link" style=" color:blue;">Login!</a></p>
                    </div>
                </form>

                 {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes" ">
                            {% for message in messages %}
                                <li style="color:blue;>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                 {% endwith %}
            </div>
        </div>
    </div>


     </section>

</body>
</html>
